schema_version = 2
component = "kconfigwidgets"
repo = "https://invent.kde.org/frameworks/kconfigwidgets.git"
branch = "v6.26.0"
imported_commit = "0307ea844f9933a9a29cb8e34e777b3ae24a07ae"
imported_at_utc = "2026-09-13T08:06:23.716331297+00:00"
sync_method = "copy"
destination_path = "src/desktop/kde/kconfigwidgets"
upstream_tree = "60383bf77ea0c7a04db9eb6c67e4b8c30d1d721a"
imported_tree_digest_algorithm = "sha256-git-ls-tree-no-gitlinks-v1"
imported_tree_digest = "55ee6ed7e48d0a70a4d037891b627c53e7c7903f72857091c7c8398bcf02a2ab"
source_selection_policy = "none"
source_selection_policy_sha256 = "none"
intentional_omission_policy = "none"
gitlink_policy = "none"
patch_manifest = "none"
patch_manifest_sha256 = "none"
lfs_policy = "none"
lfs_policy_sha256 = "none"
