schema_version = 2
component = "kconfig"
repo = "https://invent.kde.org/frameworks/kconfig.git"
branch = "v6.26.0"
imported_commit = "320c75b97892aeef45b947f78f46a461fe42a38d"
imported_at_utc = "2026-09-12T07:07:08.671960596+00:00"
sync_method = "copy"
destination_path = "src/desktop/kde/kconfig"
upstream_tree = "bdd5f4958348fc1471d4d0eba948e3c90c6fc92d"
imported_tree_digest_algorithm = "sha256-git-ls-tree-no-gitlinks-v1"
imported_tree_digest = "795ab1e5362a50a4df59bb436b85c74983aa7877aae3293e3fe753fb538a9b55"
source_selection_policy = "none"
source_selection_policy_sha256 = "none"
intentional_omission_policy = "none"
gitlink_policy = "none"
patch_manifest = "none"
patch_manifest_sha256 = "none"
lfs_policy = "none"
lfs_policy_sha256 = "none"
