[Desktop Entry]
Type=Service
Name=Utterly-Round-Dark
Comment=Utterly-Round-Dark theme for KDE Plasma
Version=1.0
Author=deadgirl
License=GPL-3.0-or-later
