[Unit]
Description=MattOS Graphical Installation Target
Requires=multi-user.target mattos-cosmic-installer-session.service mattos-install-graphical.service
After=multi-user.target
AllowIsolate=yes
